pandas==1.5.3
numpy==1.24.0
requests==2.31.0
pydantic==2.9.2
python-dotenv==1.1.1
openai==1.99.9
joblib==1.5.1
langchain==0.3.27
langchain-community==0.3.27
langchain-huggingface==0.3.1
faiss-cpu==1.12.0
sentence-transformers==5.1.0
transformers==4.55.1
torch==2.5.1+cpu
geopy==2.2.0
geopandas==0.10.2
shapely==1.7.1
scikit-learn==1.1.3
